.App {
    text-align: center;
}

.NavigationHeader {
    margin: 0;
    height: 60px;
    background-color: #FFFF66;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-content: center;
}

.NavigationLink {
    margin: auto 25px;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: #CCCCCC;
    border-radius: 15px;
}

.NavigationLink:hover {
    background-color: #EEEEEE;
}

.InputForm,
.ClickerBox {
    margin: 30px auto;
    padding: 10px;
    background-color: #DDDDDD;
    border: thick double black;
    width: 30%;
}

.InputField {
    margin: 20px;
}

.InputLabel {
    margin: 0 5px;
}

.ErrorBox,
.OkBox {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 25px;
}

.ErrorText,
.OkText {
    margin: auto;
}

.ErrorBox {
    background-color: rgba(233, 0, 9, 0.22);
}

.ErrorText {
    color: #aa121d;
}

.OkBox {
    background-color: rgba(0, 219, 58, 0.22);
}

.OkText {
    color: #006b12;
}

.ClickerText {
    margin: 10px auto;
    font-size: 1.5rem;
}

.ClickerButton {
    margin: 10px auto;
}